<!-- OPTIONS -->
<div id="options">
<h1>Available Options:</h1>
<br>
<table id="opt">
  <tr>
    <td><div id="popcorn">1. Romantic Movie and Popcorn</div></td>

    <td><div id="peach">2. Chess and (A) Peach Pie or (B) Peach Cobbler</div></td>

    <td><div id="cupcake">3. Romantic Super Mario Galaxy Gaming and Cupcakes</div></td>
  </tr>
  <tr>
    <td>
      <img src='http://www.thesil.ca/wp-content/uploads/2013/02/free-vintage-valentine-card-popcorn-and-red-heart.jpg' alt="You melt my heart like hot popcorn melts butter!"/>
    </td>
    <td>
      <img src='http://hotpolkadot.com/wp-content/uploads/2011/09/Dulce-de-Leche-Peach-Pie3.jpg'/> <img src='http://www.simplyrecipes.com/photos/peach-cobbler-7.jpg?ea6e46'/>
    </td>
    <td>
      <img src='http://cdn.unrealitymag.com/wp-content/uploads/2009/10/mario1.jpg'/>
    </td>
  </tr>
</table>
<br>
<br>
*|<%= link_to "Home", controller: "welcome" %>|*
*|<%= link_to "Choose Here", controller: "choice" %>|*

<br>
<br>
</div>
