<div id="header">
    <p class="hello">Hello Perseus!</p>
    <p class="made"><em>I made a surprise just for you!</em></p>
  </div>
<br>
  <div id="main">
<br>
    <p> It would be a great <em>honor</em> if you </p>
    <p class="sean"> <strong>Honey</strong></p>
    <p> would enjoy a wonderful night with </p>
    <p class="me"> <em>me</em></p>
    <p> on the couch with one of these three options! </p>
<br>

*|<%= link_to "Click here for your options!", controller: "options" %> |*
<br>
  </div>
