<!-- CHOICES CHOICES CHOICES -->
<div id="choice">
  <h1>Choose your option below:</h1>
<br>

<!-- Table of choices -->

<table>
<!--MOVIE + ? -->

  <tr>
    <thead>Movie + ?</thead>
    <td>Cupcakes</td>
    <td>Peach Cobbler</td>
    <td>Peach Pie</td>
    <td>Popcorn</td>
  </tr>
</table>
<br>

<!--CHESS + ? -->
<table>
  <tr>
    <thead>Chess + ?</thead>
    <td>Cupcakes</td>
    <td>Peach Cobbler</td>
    <td>Peach Pie</td>
    <td>Popcorn</td>
  </tr>
</table>
<br>
<!--MARIO + ? -->
<table>
  <tr>
    <thead>Super Mario + ?</thead>
    <td>Cupcakes</td>
    <td>Peach Cobbler</td>
    <td>Peach Pie</td>
    <td>Popcorn</td>
  </tr>
</table>
<br>
*|<%= link_to "Home", controller: "welcome" %>|*
*|<%= link_to "Back", controller: "options" %>|*
</div>
