/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header {
  position: top;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #000000;
  height: 190px;
  width: 600px;
  font-family: Garamond;
  color: #33ff99;
  text-align: center;
}

.hello {
  font-size: 60px;
}

.made {
  font-size: 50px;
}

body {
  background-color: #000000;
}

#main {
  position: relative;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 600px;
  width: 600px;
  font-family: Harrington;
  font-size: 25px;
  text-align: center;
  color: #33ff99;
}

.sean {
  font-size: 50px;
  font-family: Harrington, Stencil;
  color: #66ffff;
}

.me {
  font-size: 50px;
  font-family: Harrington;
  color: #66ffff;
}

img {
  width: 400px;
  height: 300px;
}

#popcorn {
  font-size: 25px;
  font-family: Harrington;
  color: #FF0000;
  position: relative;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 370px;
  width: 600px;
  text-align: center;
}

#peach {
  font-size: 25px;
  font-family: Harrington;
  color: #ffcc00;
  position: relative;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 800px;
  width: 600px;
  text-align: center;
}

#cupcake {
  font-size: 25px;
  font-family: Harrington;
  color: #00CCFF;
  position: relative;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 380px;
  width: 600px;
  text-align: center;
}


#end {
  font-size: 50px;
  font-family: Harrington;
  color: #0066ff;
  background-color: #000000;
  position: relative;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 90px;
  width: 600px;
  text-align: center;
}

table, td {
  height: 100px;
  width: 100px;
  border: 3px #99ff00 solid;
  background-color: #003300;
  color: #ccffff;
  font-family: Stencil;
  font-size: 20px;
  text-align: center;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

a:hover {
  color: #ccffff;
}
